#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: lightblue;
  background: url('./src/assets/background.jpg') no-repeat center fixed;
  background-size: 100% 100%;
}

.card {
  padding: 2em;
}

.btn-big {
  width: 300px;
  height: 100px;
  font-size: 20px;
  margin: 10px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  height: 100vh;
}

body {
  background: url('./src/assets/background.jpg') no-repeat center fixed;
  background-size: 100% 100%;
}